@inherits LayoutComponentBase
@using System.Text.Json.Nodes
@using System.Security.Principal
@inject HttpClient Http
@inject System.Net.Http.Headers.MediaTypeWithQualityHeaderValue headers

<style>
    #country{
        position: fixed;
        border-bottom: 1px solid rgba(118, 120, 120, 0.58);
        border-top: 0px solid;
        border-left: 0px solid;
        border-right: 0px solid;
        width: 12%;
        transition: 0.2s ease-in-out;
    }
    #country:focus{
        border-bottom: 3px solid black;
    
    }
     #home-search{
    
              border-bottom: 1px solid rgba(118, 120, 120, 0.58);
              border-top: 0px solid;
              border-left: 0px solid;
              border-right: 0px solid;
              width: 33rem;
              font-size: 4rem;
            
              transition: 0.2s ease-in-out;
          }
          #home-search::placeholder{
              color: rgba(0, 0, 0, 0.149);
          
          }
          #home-search:focus{
              border-bottom: 3px solid black;
          
          }
</style>

@if (name == null)
{
    <div style="height: 100vh !important; margin: auto auto !important;" class="container-fluid  text-center">

        <div style="padding-top: 30vh !important;" class="">
            
            <EditForm Model="@weatherApiModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputText @bind-Value="weatherApiModel.Country" id="home-search" class="mt-auto" type="text" placeholder="Enter place name" /><br/>
                <input style="width: 33rem;" class="btn btn-dark mt-3" type="submit" />
                            
            </EditForm>
            
        </div>
    </div>

    
    
}
else
{
    
    <div style="height: 100vh !important;" class="container-fluid row">
        <!-- https://dribbble.com/shots/10460680-Weather-App -->

        <div class="col-3 p-5">
        
            <EditForm Model="@weatherApiModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputText id="country" @bind-Value="weatherApiModel.Country" placeholder="Enter place name" type="text" />
                <input style="width: 50%;" class="btn btn-dark mt-5 text-center mx-auto" type="submit" />

            </EditForm> 
            <div style="height: 90vh">
                <div>
                    <img class="pt-5" width="200" src="./images/weathervector.png" alt="">
                </div>
                <div>
                    <p style="font-size: 6rem" class="">@temperature °C</p>
                </div>
                <div>
                    <p style="font-size: 1.5rem"><span class="fw-bold">Monday</span> , <span class="text-secondary">16:00</span></p>
                </div>
                <div class="mt-5 pt-4">
                    <div class="d-flex align-items-center">
                        <img class="me-3" width="40" src="@conditionIcon" alt="">
                        <p style="margin: 0 !important" class="fw-bold">Mostly <span>@conditionText</span> </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="me-3" width="40" src="./images/rain.png" alt="">
                        <p style="margin: 0 !important" class="fw-bold">Humidity -<span> @humidity%</span> </p>
                    </div>
                </div>

                <div style="
        background-image: url('./images/header.png');

      " class="bg-info p-4  rounded mt-5">
                    <div class="my-auto">
                        <p style="font-size: 1.2rem !important;" class="my-auto text-light text-center fw-bold"><span class="text-light">@countryName</span>, <span>@locationName</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 bg-light p-5">
            <div style="height: 90vh">
                <div class="d-flex align-items-center">
                    <p class="h4">Forcast: </p> 
                    <p class="h4 ps-4 fw-bold">@countryName -</p> 
                    <p class="h4 ps-1 ">@localTimeFromApiFormatted</p>
                </div>
                <div class="row g-5">
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">UV Index</p>
                            <div class="text-center p-3">
                                <p class="h1 fw-bold">@uvIndex</p> 
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: 75%" aria-valuenow="@uvIndex" aria-valuemin="0" aria-valuemax="10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Precipitation</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold">@precipitation</span>  mm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Humidity</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold">@humidity</span>  %</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt-1">
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Wind</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold text-primary">@windMph</span>  mph</p> 
    
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Wind degree</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold text-primary">@windDegree</span>  °</p> 
    
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Wind Direction</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold text-primary">
                                    @windDirection <i class="fa fa-compass text-danger" aria-hidden="true"></i></span> </p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt-1">
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Pressure</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold text-info">@pressure</span>  in</p> 

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Gust</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold">
                                    @gust </span> mph</p> 

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-3 bg-white rounded">
                            <p style="color: rgba(0, 0, 0, 0.305) !important" class="text-secondary">Feels Like</p>
                            <div class="text-center p-3">
                                <p><span class="h1 fw-bold">
                                    @feelsLike °C</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    
    //Values kept ot just string as we do not need to do any calculations with the returned values
    //but to just display it to the user opon valid form submission
    
    private String log { get; set; }
    private string? countryName { get; set; }
    private string? regionName { get; set; }
    private string? temperature { get; set; }
    private string? locationName { get; set;  }
    private string? conditionIcon { get; set; }
    private string? conditionText { get; set; }
    private string? windMph { get; set; }
    private string? windDegree { get; set; }
    private string? windDirection { get; set; }
    private string? pressure { get; set; }
    private string? precipitation { get; set; }
    private string? humidity { get; set; }
    private string? feelsLike { get; set; }
    private string? uvIndex { get; set; }
    private string? gust { get; set; }
    private string? localTimeFromApi { get; set; }
    private string? localTimeFromApiFormatted { get; set; }
    
    private String name;

    private WeatherApiModel weatherApiModel = new WeatherApiModel();
    
    
    protected override async Task OnInitializedAsync()
    {
        Http.DefaultRequestHeaders.Add("X-RapidAPI-Key", "7ac8da929cmsh5be541b7b0dc3c8p18afb3jsn65ff0d02c66c");
        Http.DefaultRequestHeaders.Add("X-RapidAPI-Host", "weatherapi-com.p.rapidapi.com");
        Http.DefaultRequestHeaders.Accept.Add(headers);
    }
    private void HandleValidSubmit()
    {
        callApi(weatherApiModel.Country);
    }

    protected async Task callApi(String country)
    {
        var json = await Http.GetAsync($"https://weatherapi-com.p.rapidapi.com/current.json?q='{country}");
        String responseBody = await json.Content.ReadAsStringAsync();

        var jsonObject = JsonNode.Parse(responseBody).AsObject();

        log = jsonObject.ToString();

        
        locationName = jsonObject["location"]["name"].ToString();
        regionName = jsonObject["location"]["region"].ToString();
        countryName = jsonObject["location"]["country"].ToString();
        temperature = jsonObject["current"]["temp_c"].ToString();
        localTimeFromApi = jsonObject["location"]["localtime"].ToString();
        localTimeFromApiFormatted = localTimeFromApi.Substring(localTimeFromApi.Length - 5);
        
        conditionIcon = jsonObject["current"]["condition"]["icon"].ToString();
        conditionText = jsonObject["current"]["condition"]["text"].ToString();
        

        
        windMph = jsonObject["current"]["wind_mph"].ToString();
        windDegree = jsonObject["current"]["wind_degree"].ToString();
        windDirection = jsonObject["current"]["wind_dir"].ToString();
        pressure = jsonObject["current"]["pressure_in"].ToString();
        humidity = jsonObject["current"]["humidity"].ToString();
        precipitation = jsonObject["current"]["precip_in"].ToString();
        feelsLike = jsonObject["current"]["feelslike_c"].ToString();
        uvIndex = jsonObject["current"]["uv"].ToString();
        gust = jsonObject["current"]["gust_mph"].ToString();

        
        
        
        name = jsonObject.ToString();
    }

  
}

